<main>

    <h3 style="color:#fff">WEBSOCKETS</h3>
    <section class="content-form-add">
        <h3 style="color:#fff">Dar de Alta Producto</h3>
        <form id="product-form">
            <article><label>Nombre</label> <input type="text" name="title" id="title"></article>
            <article><label>Descripción</label> <input type="text" name="description" id="description"></article>
            <article><label>Precio ($)</label> <input type="number" name="price" id="price"></article>
            <article><label>Imagen (url de la img)</label> <input type="text" name="thumbnail" id="thumbnail"></article>
            <article><label>Codigo </label> <input type="text" name="code" id="code"></article>
            <article><label>Stock</label> <input type="text" name="stock" id="stock"></article>

            <input class="btn-send" type="submit" value="Agregar">
        </form>

    </section>

    <h2 style="color:#fff">Listado Productos</h2>
    <section id="container-products" class="container-products">
        {{#each products}}
        <article id="product-{{id}}" class="container">
            <div class="card">
                <div class="imgBx">
                    <img src="{{thumbnail}}" height="200" width="20" />
                </div>
                <div class="contentBx">
                    <h2>{{title}}</h2>
                    <div class="price">
                        <h3>Precio: ${{price}}</h3>
                    </div>
                    <div class="stock">
                        <h3>Cantidad: {{stock}}</h3>
                    </div>
                    <input type="button" onclick="eliminar({{id}})" value="Eliminar Producto"></input>
                </div>
            </div>
        </article>
        {{/each}}
    </section>

</main>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>